@charset "UTF-8";

header {
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  overflow-x: hidden;
}

header.catalogo {
  width: 100%;
  height: 80px;
  /* border: 1px solid black; */
  display: grid;
  grid-template-areas: "pesquisa btnMenu";
  grid-template-columns: 85% 15%;
  padding: 0px 15px;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}


nav {
  top: 0;
  left: 0;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background: var(--cor1);
  width: 150px;
  height: 100%;
  display: flex ;
  z-index: 1;
}

nav > .logoEtec {
  margin: 15px 0px 30px 0px;
}

nav > a {
  text-decoration: none;
  color: white;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.5rem;
}

nav > a:hover {
  background: var(--cor2);
  transition: 0.3s;
}

.btnLogin{
  padding: 3px;
  width: 80%;
  border-radius: 10px;
  position: absolute;
  bottom: 10px;
  background-color: var(--cor2);
}

a .linkIcon {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  margin-right: 5px;
}

.linkIcon > svg {
  width: 100%;
  height: 100%;
  fill: white;
}

a svg path {
  width: 100%;
  height: 100%;
  fill: white;
}

a.active {
  background: var(--cor2);
}

.btnMenu{
  display: none;
}

/* CELULAR */

@media screen and (width <= 599px) {
  .btnMenu {
    display: flex;
    margin-left: 50px;
  }

  .hamburger {
    display: block !important;
  }

  nav {
    width: 70%;
    height: 100%;
  }

  nav > a {
    text-decoration: none;
    color: white;
    width: 80%;
    height: 35px;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0px 10px;
  }
}

@media screen and (width>=600px) {
    .menu{
        display: flex !important;
    }

    header.catalogo {
      display: flex;
    }
}

/* From Uiverse.io by talhabangyal */ 
.hamburger {
    cursor: pointer;
    display: none;
  }
  
  .hamburger input {
    display: none;
  }
  
  .hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition:
      stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .line-top-bottom {
    stroke-dasharray: 12 63;
  }
  
  .hamburger input:checked + svg {
    transform: rotate(-45deg);
  }
  
  .hamburger input:checked + svg .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
  }
  
  /* CARROSEL DE EVENTOS */

@media only screen and (max-width: 480px) {
  .prev, .next,.text {font-size: 11px};
  .ing{
    height: 150px !important;
  }
  .dot{
    width: 5px !important;
    height: 5px !important;
  }
  
}


@media only screen and (min-width: 481px) {
  .ing{
    height: 200px !important;
   
  }
  .dot{
    width: 9px !important;
    height: 9px !important;
  }

}

@media only screen and (min-width: 601px) {
  .ing{
    height: 300px !important;
   
  }
  .dot{
    width: 14px !important;
    height: 14px !important;
  }
  
}

.ing{
  vertical-align: middle;
  height: fit-content;
  width: 100%;
}

.slide{
  max-width: 1000px;
  min-width: 80%;
  position: relative;
  margin: auto;
}

.slide-cont{
    display: none;
}

.prev, .next{
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
     font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
     user-select: none;

}

.next{
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }

.slide-text{
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.slide-num{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active, .dot:hover {
    background-color: #717171;
  }

  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1}
  }