@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: none;
}

:root{
    --cor1:#607D8B;
    --cor2:#273339;
    --vermelho: #AC1717;
    --verde: rgb(0, 249, 0);
    --font: "Inter", sans-serif;
}

body,html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}