@charset "UTF-8";


section{
    /* background-color: red; */
    /* border: 1px solid black; */
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    gap: 30px;
}

article{
    width: 900px;
    height: fit-content;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #a2b6be;
}


section.catalogo{
    width: 100%;
    /* background-color: red; */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

section.catalogo > .card{
    width: 150px;
    height: 200px;
    border: 1px solid red;
    border-radius: 5px;
}

/* CELULAR */
@media screen and (width<=680px) {
    article{
        width: 95%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }
}
/* TABLET OU CELULAR */
@media screen and (width>=600px) {
    section{
        padding-left: 180px;
    }

    section.catalogo{
        padding-left: 180px;
    }
}

/* COMPUTADOR */

@media screen and (width>=900px) {
    section.catalogo{
        padding-left: 180px;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        /* background-color: red; */
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    section.catalogo > .card{
        width: 250px;
        height: 350px;
        border: 1px solid red;
        border-radius: 5px;
    }

    article{
        width: 900px;
        height: fit-content;
        border: 1px solid black;
        /* overflow: hidden; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px 10px;
    }
}


article.desc{
    border-radius: 5px 5px 0px 0px;
}

/* From Uiverse.io by vinodjangid07 */ 
.redes {
    margin-top: 15px;
    width: 80%;
    height: fit-content;
    /* background-color: rgb(238, 238, 238); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); */
  }
  
  /* for all social containers*/
  .socialContainer {
    border-radius: 5px;
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }
  /* instagram*/
  .containerOne:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  .containerTwo:hover {
    background-color: #00acee;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }
  

  
  