@charset "UTF-8";


section{
    /* background-color: red; */
    /* border: 1px solid black; */
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 10px 0px 0px 0px;
    gap: 30px;
}

article{
    padding: 10px 0px 0px 0px;
    width: 500px;
    height: fit-content;
    /* border: 1px solid var(--cor2); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    /* background: #a2b6be; */
}

article > h1{
    margin-bottom: 10px;
    /* min-width: 200px; */
    max-width: fit-content;
    height: fit-content;
    border-radius: 5px;
    padding: 15px;
    background: var(--cor1);
    text-align: center;
    font-family: var(--font);
    text-transform: uppercase;
    /* background: #a2b6be; */
}


section.catalogo{
    width: 100%;
    padding: 0px 20px;
    /* background-color: red; */
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 20px;
    display: flex;
}

section.catalogo > .card{
    width: 150px;
    height: 200px;
    /* border: 1px solid red; */
    border-radius: 5px;
}

/* CELULAR */
@media screen and (width<=680px) {
    article{
        width: 95%;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }

    article.eventos{
        height: 500px;
    }
}

/* TABLET OU CELULAR */
@media screen and (width>=600px) {
    section{
        padding-left: 180px;
    }

    section.catalogo{
        padding-left: 180px;
    }
}

/* COMPUTADOR */
@media screen and (width>=900px) {
    section.catalogo{
        padding-left: 180px;
        width: 100%;
        align-items: flex-start;
        justify-content: flex-start;
        /* background-color: red; */
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    section.catalogo > .card{
        width: 250px;
        height: 350px;
        /* border: 1px solid red; */
        border-radius: 5px;
    }

    article{
        width: 800px;
        height: fit-content;
        /* border: 1px solid black; */
        /* overflow: hidden; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px 10px;
    }
}


/* DESCRIÇÂO */

article.desc{
    border-radius: 5px 5px 0px 0px;
    padding: 10px;
    font-family: var(--font);
}

article.desc > p{
    width: 80%;
    text-align: justify;
    text-indent: 30px;
    font-family: var(--font);
}

.redes {
    margin-top: 15px;
    width: 80%;
    height: fit-content;
    /* background-color: rgb(238, 238, 238); */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px 25px;
    gap: 20px;
    /* box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.055); */
  }
  
  /* for all social containers*/
  .socialContainer {
    border-radius: 5px;
    width: 52px;
    height: 52px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition-duration: .3s;
  }

  /* instagram*/
  .containerOne:hover {
    background-color: #00acee;

    transition-duration: .3s;
  }

  .containerTwo:hover {
    background-color: #d62976;
    transition-duration: .3s;
  }
  
  .socialContainer:active {
    transform: scale(0.9);
    transition-duration: .3s;
  }
  
  .socialSvg {
    width: 17px;
  }
  
  .socialSvg path {
    fill: rgb(255, 255, 255);
  }

  /* SESSÂO DE LOGIN */
  
  section.login{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
  

  @media screen and (width<=680px) {
    section.login{
        width: fit-content;
     
      }
    
}

/* ÁREA DO ADMINISTRADOR */

section.adm{
    padding-right: 10px;
    padding-left: 160px;
    flex-direction: row;
    flex-wrap: nowrap;
}

section.adm > article{
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}

section.adm > article > h1{
    width: 100%;
}

section.adm > article{
    width: 550px;
    height: calc(100% - 10px);
}

article.agdVencidos > .cardAgd{
    border: 2px solid red;
}

/* LIBERAÇÃO */
section.adm > article.lib{
    background: none;
    width: 100%;
    overflow-y: scroll;
}

article.lib::-webkit-scrollbar{
    display: none;
}

/* ADICIONAR */
section.adm > .adicionar{
    width: 900px;
    background: none;
    border: none;
}

article.adicionar > a{
    width: 250px;
    height: 150px;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    text-transform: uppercase;
    font-family: var(--font);
    font-weight: bolder;
    text-decoration: none;
    cursor: pointer;
    color: black;
}

article.adicionar > a > svg{
    width: 50px;
    height: 50px;
}
